/* .event-info-container {
  padding: 20px;
} */

.summary-card {
  height: 128px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.text-label {
  color: #00001A9C;
  font-size: 0.875rem;
}

.icon-box {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box.heart {
  background-color: #FFBE4D;
}

.icon-box.wallet {
  background-color: #1AA01E;
}

.icon-box.revenue {
  background-color: #3CC3DF;
}

.attendance-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.status-badge {
  padding: 4px 12px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.875rem;
}

.status-badge.paid {
  background-color: #00990517;
  color: #009905;
}

.status-badge.interested {
  background-color: #ff980017;
  color: #e65100;
}

.object-fit-cover {
  object-fit: cover;
}
