@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Crimson Text', serif;
}

.stat-card {
  width: 100%;
  max-width: 357px;
  height: 127px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.stat-title {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

.stat-count {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.stat-icon-box {
  width: 44px;
  height: 37px;
  border: 1px solid #c24ff0b1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.icon {
  font-size: 20px;
}

.top-gift-card {
  width: 100%;
  max-width: 1171px;
  min-height: 370px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 0 auto;
  padding: 20px;
}

.gift-box {
  width: 100%;
  max-width: 361px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.gift-name,
.to-name,
.coin,
.send-date {
  font-size: 14px;
  margin-bottom: 2px;
}

.category-name {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: #F0000021;
  font-size: 13px;
  color: #F00000;
  text-align: center;
}
