@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Crimson Text', serif;
}

.user-management-title {
  width: 181px;
  height: 31px;
  font-size: 22px;
  font-weight: 600;
}

.user-summary-card {
  width: 190px;
  height: 91px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 35px;
  font-family: 'Crimson Text', serif;
}

.user-summary-icon {
  width: 46px;
  margin: 0 ;
  font-size: 20px;
}

.filters-container Input {
  width: 235px;
  height: 22px;
  margin-left: 750px;
}

.filters-container select {
  width: 351px;
  height: 44px;
  /* font-size: 14px; */
}

.compact-table td,
.compact-table th{
  /* padding: 10px 0.5rem; */
  font-size: 15px;
  vertical-align: middle;
}

/* Optional: reduce margin below table wrapper */
/* .table-wrapper {
  margin-bottom: 0.5rem !important;
} */


.user-table {
  margin-left: 20px;  
  width: 1496px;
  height: 70px;
  text-align: center;
}
.custom-checkbox {
  width: 20.52px;
  height: 20px;
  cursor: pointer;
}

.user-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.role-badge {
  background-color: #8979FF66;
  padding: 4px 10px;
  border-radius: 5px;
  display: inline-block;
  /* font-weight: 500; */
}

.user-type-badge {
  background-color: #D9D9D9;
  padding: 4px 10px;
  border-radius: 5px;
  display: inline-block;
  /* font-weight: 500; */
}

.status-badge {
  background-color: #FF928A66;
  color: red;
  padding: 4px 10px;
  border-radius: 5px;
  display: inline-block;
  /* font-weight: 500; */
}


@media (max-width: 768px) {
  .user-summary-card {
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }

  .filters-container {
    flex-direction: column;
    gap: 0.5rem;
  }
}
